<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" >
            <p class="jumbotron">
                Welcome {{ user }}
            </p>
        </div>
    </div>
</div>
<!-- <div class="col-md-6">
    <a class="btn btn-info " (click)="Logout()"> Logout</a>
    <a class="btn btn-info text-right" href="packages">Packages</a>
    <a class="btn btn-info text-right" href="insurances">Insurance Items</a>
    <a class="btn btn-info text-right" href="user-insurances">Users Insurance List</a>
</div> -->

